a,
a:hover {
  text-decoration: none;
  color: white;
}
/* HOME PAGE */
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../pictures/backgroundMain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homePage_Title {
  margin-bottom: 20px;
}
.homePage_Subtitle {
  color: white;
  font-family: "Roboto Slab", Courier, monospace;
  font-size: 19.5px;
  margin-top: 5px;
}

/* ABOUT PAGE*/
.aboutPage_Container {
  min-height: 100vh;
  background-color: white;
  padding: 75px 0;
}
.aboutPage_Title {
  font-size: 35px;
}
.aboutPage_Image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.aboutPage_Text a {
  text-decoration: none;
  color: rgb(49, 43, 155);
  font-weight: 500;
}
.aboutPage_Text a:hover {
  color: rgb(49, 43, 155);
  text-decoration: underline;
}
.aboutPage_Text a::selection,
.strongText::selection {
  background-color: #ffb8b1;
}
.aboutPage_SelfClaim_Container {
  background-color: #f0f0f0;
  padding: 20px 60px;
  width: 650px;
  margin: 0 auto;
}
.aboutPage_Subtitle_Container {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #111111;
  display: flex;
  justify-content: center;
}
.aboutPage_SelfClaim_Icons_Container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.aboutPage_SelfClaim_Icons_Body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* breakpoints */
@media screen and (max-width: 690px) {
  .aboutPage_SelfClaim_Container {
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 520px) {
  .aboutPage_SelfClaim_Icons_Container {
    flex-direction: column;
  }
  .aboutPage_SelfClaim_Icons_Body {
    margin-bottom: 20px;
  }
}

/* PASSION PAGE */
.passionPage_Container {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 75px 0;
}
.passionPage_Row {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.passionPage_Title {
  font-size: 35px;
}
.passionPage_Subtitle {
  font-size: 22.5px;
}
.passionPage_IconContainer {
  background-color: rgb(39, 35, 112);
  border-radius: 50%;
  padding: 50px;
  max-width: 170px;
  max-height: 250px;
}
.passionPage_IconContainer:hover .passionPage_IconSpin {
  animation: spin 0.43s linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* EXPERIENCE PAGE*/
.experiencePage_Container {
  min-height: 100vh;
  background-color: white;
  padding: 75px 0 0 0;
}
.experiencePage_Row {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row > * {
  padding: 0;
}
.experiencePage_Col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
}
.experiencePage_Title {
  font-size: 35px;
}
.experiencePage_Subtitle {
  margin-bottom: 40px;
}
.techIcons_Container {
  margin-bottom: 75px;
  max-width: 650px;
}

.experiencePage_Footer_Image {
  background: url("../pictures/backgroundExperiencePage.jpg") no-repeat center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-size: 240% auto;
}
.experiencePage_Footer_Content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}
.experiencePage_Footer_Container_Text {
  color: white;
  text-align: center;
  margin: 0 20px;
}
.experiencePage_Footer_Link {
  border: 1px solid white;
  padding: 12px 20px;
  font-family: "Roboto Slab", Courier, monospace;
  font-size: 21px;
  cursor: pointer;
}
.experiencePage_Footer_Link:hover {
  background-color: white;
  color: black;
}
/* breakpoints */
@media screen and (max-width: 769px) {
  .experiencePage_Footer_Image {
    background-size: 320% auto;
  }
}
@media screen and (max-width: 575px) {
  .techIcons_Container {
    max-width: 450px;
  }
  .experiencePage_Footer_Image {
    background-size: 580% auto;
  }
}
@media screen and (max-width: 375px) {
  .experiencePage_Footer_Image {
    background-size: 680% auto;
  }
}
@media screen and (max-width: 345px) {
  .experiencePage_Footer_Image {
    background-size: 780% auto;
  }
}

/* WORK PAGE*/
.workPage_Container {
  min-height: 100vh;
  padding: 75px 0;
  background-color: #f0f0f0;
}
.workPage_Row {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.workPage_Title {
  font-size: 35px;
}
.workPage_Card {
  /* max-width: 400px; */
  margin: 0 15px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  border: 0.5px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.workPage_CardImage {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0;
  vertical-align: middle;
  transition: opacity 0.3s ease;
}
/* hover effect */
.card-img-container {
  position: relative;
}
.card-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}
.card-img-container:hover .workPage_CardImage {
  opacity: 0.35;
}
.card-img-container:hover::before {
  background: rgb(0, 0, 0);
}
.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-img-container:hover .hover-icon {
  opacity: 1;
}
.card-img-container {
  position: relative;
  overflow: hidden;
}
.project-title {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgb(39, 35, 112);
  color: white;
  padding: 10px;
  text-align: center;
  transition: bottom 0.3s ease;
}
.card-img-container:hover .project-title {
  bottom: 0;
}

/* breakpoints */
@media screen and (max-width: 999px) {
  .workPage_Row {
    padding: 0 75px;
  }
}
@media screen and (max-width: 850px) {
  .workPage_Row {
    padding: 0 60px;
  }
}
@media screen and (max-width: 575px) {
  .workPage_Row {
    padding: 0 40px;
  }
}
@media screen and (max-width: 375px) {
  .workPage_Row {
    padding: 0 20px;
  }
}

/* Modal */
.modal {
  --bs-modal-border-radius: 0;
  --bs-modal-width: 70%;
}
.modal_Container {
  z-index: 1400;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_Body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_Header {
  display: flex;
  justify-content: center;
}
.modal_Title {
  display: flex;
  flex: 1;
  justify-content: center;
}
.modal_Images_Container {
  display: flex;
  justify-content: center;
}
.carousel-item {
  height: 450px;
}
.modal_Image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}
.modal_Button_ViewSite,
.modal_Button_GitHub {
  margin: 0 5px;
}
.modal_Footer_Container {
  background-color: #f0f0f0;
}
.modal_Button_Close {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
/* carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-control-next,
.carousel-control-prev {
  display: none;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators [data-bs-target] {
  background-color: rgb(49, 43, 155);
  height: 3.5px;
}

/* CONTACT PAGE */
.contactPage_Container {
  padding: 75px 0;
  background-color: #ffffff;
}
.contactPage_Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.contactPage_Icon {
  font-size: 60px;
  color: rgb(39, 35, 112);
}
.contactPage_Title {
  font-size: 35px;
  margin-top: 27px;
}

/* Footer */
.footer_Container {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: #222;
  padding: 50px 0 0 0;
}
.footer_IconContainer:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.07);
  transition: transform 0.2s;
}
.footer_Text {
  color: rgba(255, 255, 255, 1);
  display: flex;
  font-family: "Lato", Courier, monospace;
  margin-top: 45px;
}
.footer_Col {
  margin: 0 3.5px;
}
