.techIcon {
  font-size: 75px;
}
#html_Icon {
  color: #e34f26;
}
#css_Icon {
  color: #005a9c;
}
#sass_Icon {
  color: #c69;
}
#js_Icon {
  color: #f0db4f;
}
#react_Icon {
  color: #61dafb;
}
#bootstrap_Icon {
  color: #563d7c;
}
#gitHub_Icon {
  color: #171515;
}
#wordPress_Icon {
  color: #00749c;
}
